<li>
  @if (node.isDirectory) {
    <span>
      <i class="fas fa-folder fa-sm" style="color: #a0a0a0"></i>
      <a role="button"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        attr.aria-controls="folder_{{ node.name }}">
        {{ node.name }}
      </a>
    </span>
  } @else {
    <i class="far fa-file fa-sm pr-1" style="color: #a0a0a0"></i>
    <span>{{ node.name }}</span>
    <span class="size pull-right">{{ node.size }}</span>
  }


  @if (node.isDirectory && node.sub) {
    <ul id="folder_{{ node.name }}" [ngbCollapse]="isCollapsed" class="in" style="height: auto"
      >
      @for (subNodeKey of getKeys(node.sub); track subNodeKey) {
        <ds-file-tree-view
          [node]="node.sub[subNodeKey]">
        </ds-file-tree-view>
      }
    </ul>
  }
</li>
