<div class="container">
  <div class="card">
    <h5 class="card-header">{{ 'handle-global-actions.title' | translate }}</h5>
    <div class="card-body">

      <div class="card-text alert alert-info" role="alert">
        {{ 'handle-global-actions.actions-list-message' | translate }}
      </div>
      <button type="button" class="btn btn-info" [routerLink]="[globalActionsPath]">
        {{'handle-global-actions.button.change-prefix' | translate}}
      </button>
    </div>
<!--  <h3 class="card-title">{{ 'handle-global-actions.title' | translate }}</h3>-->
<!--  <div class="card-text alert alert-primary col-12" role="alert">-->
<!--    {{ 'handle-global-actions.actions-list-message' | translate }}-->
<!--  </div>-->
</div>

<!--  <div class="row">-->
<!--    <div class="col-12 pb-4">-->
<!--      <h3 id="header" class="pb-2">{{ 'handle-global-actions.title' | translate }}</h3>-->
<!--    </div>-->
<!---->
<!--    <div class="alert alert-primary col-12" role="alert">-->
<!--      {{ 'handle-global-actions.actions-list-message' | translate }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</div>
