<div>
  <!-- Because this template is used by default, we will additionally test for representation type and display accordingly -->
  <span *ngIf="(mdRepresentation.representationType=='plain_text') && !isLink()" class="dont-break-out">
    {{mdRepresentation.getValue()}}
  </span>
  <a *ngIf="(mdRepresentation.representationType=='plain_text') && isLink()" class="dont-break-out"
  target="_blank" [href]="mdRepresentation.getValue()" role="link" tabindex="0">
    {{mdRepresentation.getValue()}}
  </a>
  
  <!-- Authority controlled metadata with ORCID link and icon -->
  <span *ngIf="(mdRepresentation.representationType=='authority_controlled') && isOrcidAuthority()" class="dont-break-out orcid-author">
    <a class="orcid-link" [href]="getOrcidUrl()" target="_blank" rel="noopener noreferrer" 
       title="View ORCID profile for {{mdRepresentation.getValue()}}">
      {{mdRepresentation.getValue()}}
    </a>
    <a class="orcid-badge" [href]="getOrcidUrl()" target="_blank" rel="noopener noreferrer"
       title="ORCID profile">
      <i class="fa-brands fa-orcid orcid-icon"></i>
    </a>
  </span>
  
  <!-- Authority controlled metadata without ORCID -->
  <span *ngIf="(mdRepresentation.representationType=='authority_controlled') && !isOrcidAuthority()" class="dont-break-out">
    {{mdRepresentation.getValue()}}
  </span>
  
  <a *ngIf="(mdRepresentation.representationType=='browse_link')"
     class="dont-break-out ds-browse-link"
     [routerLink]="['/browse/', mdRepresentation.browseDefinition.id]"
     [queryParams]="getQueryParams()"
     role="link"
     tabindex="0">
    {{mdRepresentation.getValue()}}
  </a>
</div>
