<div class="row clarin-item-page-field">
  <div class="col-lg-3 col-2-5 d-flex">
    <div><i [class]="'fas ' + iconName + ' fa-xs'"></i></div>
    <div class="pl-1"><b>{{'item.page.collections' | translate}}</b></div>
  </div>
  <div class="col-lg-9">
    <div class="collections">
      @for (collection of (this.collections$ | async); track collection; let last = $last) {
        <a [routerLink]="['/collections', collection.id]">
          <span>{{collection?.name}}</span>@if (!last) {
          <span [innerHTML]="separator"></span>
        }
      </a>
    }
  </div>

  @if (isLoading$ | async) {
    <div>
      {{'item.page.collections.loading' | translate}}
    </div>
  }

  @if (!(isLoading$ | async) && (hasMore$ | async)) {
    <a
      (click)="$event.preventDefault(); handleLoadMore()"
      class="load-more-btn btn btn-sm btn-outline-secondary"
      role="button"
      href="javascript:void(0);"
      >
      {{'item.page.collections.load-more' | translate}}
    </a>
  }
</div>
</div>
