<div class="container">
  <div class="card">
    <h5 class="card-header">Distribution License Agreement</h5>
    <div class="card-body">
      <div class=" well" id="cz_cuni_mff_ufal_ContractPage_div_licenses">
        <div class="card">
          <h3 class="card-header">Birth of Czechoslovakia and celebrations of its anniversaries</h3>
          <div class="card-body">
            <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_18"
                      name="license_text_18" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                      rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_15">
          <div class="card">
            <h3 class="card-header">Bohumil Vesely Gallery</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_15"
                      name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                      rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_2">
          <div class="card">
            <h3 class="card-header">LINDAT / CLARIAH-CZ Data &amp; Tools</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_2"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_14">
          <div class="card">
            <h3 class="card-header">LINDAT / LINDAT / CLARIAH-CZ DH Data</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_14"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_12">
          <div class="card">
            <h3 class="card-header">LINDAT / CLARIAH-CZ Web Services</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_12"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_9">
          <div class="card">
            <h3 class="card-header">LRT + Open Submissions Data &amp; Tools</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_9"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_17">
          <div class="card">
            <h3 class="card-header">The Heydrich Terror</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_17"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_13">
          <div class="card">
            <h3 class="card-header">The Munich Agreement</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_13"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
        <br>
        <div class="well well-light well well-sm well-white" id="cz_cuni_mff_ufal_ContractPage_div_license_16">
          <div class="card">
            <h3 class="card-header">Wikitongues Oral Histories</h3>
            <div class="card-body">
              <textarea class="form-control" cols="0" id="cz_cuni_mff_ufal_ContractPage_field_license_text_16"
                        name="license_text_15" onfocus="javascript:tFocus(this);" onkeydown="event.cancelBubble=true;" readonly="yes"
                        rows="34">NON-EXCLUSIVE DISTRIBUTION LICENSE

By signing and submitting this license, you (the author(s) or copyright owner)
grants to Charles University (CUNI) the non-exclusive right to
reproduce, translate (as defined below), and/or distribute your submission
(including the abstract) worldwide in print and electronic format and in any
medium, including but not limited to audio or video.

You agree that CUNI may, without changing the content, translate the
submission to any medium or format for the purpose of preservation.

You also agree that CUNI may keep more than one copy of this submission for
purposes of security, back-up and preservation.

You represent that the submission is your original work, and that you have
the right to grant the rights contained in this license. You also represent
that your submission does not, to the best of your knowledge, infringe upon
anyone's copyright.

If the submission contains material for which you do not hold copyright,
you represent that you have obtained the unrestricted permission of the
copyright owner to grant CUNI the rights required by this license, and that
such third-party owned material is clearly identified and acknowledged
within the text or content of the submission.

IF THE SUBMISSION IS BASED UPON WORK THAT HAS BEEN SPONSORED OR SUPPORTED
BY AN AGENCY OR ORGANIZATION OTHER THAN CUNI, YOU REPRESENT THAT YOU HAVE
FULFILLED ANY RIGHT OF REVIEW OR OTHER OBLIGATIONS REQUIRED BY SUCH
CONTRACT OR AGREEMENT.

CUNI will clearly identify your name(s) as the author(s) or owner(s) of the
submission, and will not make any alteration, other than as allowed by this
license, to your submission.
        </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
