<div class="container">
  <div class="row">
    <div class="col-12">
      <div *ngIf="!hasEmail()"
        class="alert alert-info alert-dismissible fade show">
        <span>{{'clarin.auth-failed.warning.no-email.message.0' | translate}}</span>
        <span>{{'clarin.auth-failed.warning.no-email.message.1' | translate}}</span>
        <a [href]="'mailto:'+(helpDesk$ | async)?.payload?.values[0]">{{'clarin.auth-failed.warning.no-email.message.2' | translate}}</a>
      </div>
      <div *ngIf="hasEmail()"
           class="alert alert-info alert-dismissible fade show">
        <i class="fas fa-info-circle"></i>
        <span>{{'clarin.auth-failed.warning.has-email.message.0' | translate}}</span>
        <span>{{'clarin.auth-failed.warning.has-email.message.1' | translate}}</span>
        <span><strong>{{email}}</strong></span>
        <span>{{'clarin.auth-failed.warning.has-email.message.2' | translate}}</span>
        <span>{{'clarin.auth-failed.warning.has-email.message.3' | translate}}</span>
        <a [href]="'mailto:'+(helpDesk$ | async)?.payload?.values[0]">{{'clarin.auth-failed.warning.has-email.message.4' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div>
        {{'clarin.auth-failed.email' | translate}}
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Email" aria-label="Email"
               [disabled]="hasEmail()"
               [(ngModel)]="email"
               aria-describedby="basic-addon1">
      </div>
      <div class="alert alert-info alert-dismissible fade show" *ngIf="!hasEmail()">
        <i class="fas fa-info-circle"></i>
        <span>{{'clarin.auth-failed.warning.email-info' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button *ngIf="!hasEmail()" (click)="sendEmail()"
              class="btn btn-success">{{'clarin.auth-failed.button.submit' | translate}}
      </button>
      <button *ngIf="hasEmail()" (click)="redirectToLogin()"
              class="btn btn-success">{{'clarin.auth-failed.button.login' | translate}}
      </button>
    </div>
  </div>
</div>
