.expandable-navbar-section {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.dropdown-menu {
  background-color: #fff;
  overflow: hidden;
  min-width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  ::ng-deep a.ds-menu-item {
    color: var(--lt-vsb-tuo-cyan) !important;
    padding-right: var(--bs-spacer);
    padding-left: var(--bs-spacer);
    white-space: nowrap;

    &:hover,
    &:focus {
      color: white !important;
      text-decoration: none;
      background-color: var(--lt-vsb-tuo-cyan);
      border-radius: 0 !important;
    }

    &:active {
      color: white !important;
      text-decoration: none;
      background-color: #43515f;
    }
  }
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .dropdown-toggle {
    &:after {
      float: right;
      margin-top: calc(var(--bs-spacer) / 2);
    }
  }

  .dropdown-menu {
    border: 0;
  }
}
