<div class="container">
  <div class="card">
    <h5 class="card-header">{{ 'clarin.license.all-page.title' | translate }}</h5>
    @if (isLoading) {
      <ds-loading class="text-center"></ds-loading>
    }
    @for (clarinLicense of (licensesRD$ | async); track clarinLicense) {
      <div class="card-body">
        <h6 class="card-header border-bottom-0 license-card-border"><a [href]="clarinLicense?.definition">{{ clarinLicense?.name }}</a></h6>
        <div class="card-body rounded-bottom license-card-border">
          <div>
            <div><b>{{'clarin.license.all-page.source' | translate}}</b></div>
            <div><a [href]="clarinLicense?.definition">{{ clarinLicense?.definition }}</a></div>
          </div>
          <div>
            <div><b>{{'clarin.license.all-page.labels' | translate}}</b></div>
            <span [ngClass]="'px-1 d-inline label label-license' + ' label-' + clarinLicense?.clarinLicenseLabel?.label + ' rounded text-white'">
              {{clarinLicense?.clarinLicenseLabel?.title}}
            </span>
            @for (clarinLicenseLabel of clarinLicense?.extendedClarinLicenseLabels; track clarinLicenseLabel) {
              <span
                class="px-1 label label-default rounded text-white ms-1">
                {{clarinLicenseLabel?.title}}
              </span>
            }
          </div>
          <div>
            <div><b>{{'clarin.license.all-page.extra-information' | translate}}</b></div>
            @if (clarinLicense?.requiredInfo === null) {
              <span>{{'clarin.license.all-page.extra-information.default' | translate}}
              </span>
            }
            @for (requiredInformation of getRequiredInfo(clarinLicense); track requiredInformation) {
              <span
                class="px-1 label label-default rounded text-white me-1">
                {{requiredInformation?.value}}
              </span>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
