.label-PUB {
  background-color: #5cb811;
  color: white;
}

.label-RES {
  background-color: #c62d1f;
  color: white;
}

.label-ACA, .label-PDT {
  background-color: #ffab23;
  color: white;
}

.label-default {
  background-color: #999 !important;
  color: white !important;
}

.license-card-border {
  border: 1px solid #e3e3e3;
}
