<div>
  <div class="card">
    <div class="card-body pt-0 pb-0">
      <div class="row justify-content-between">
        <span class="item-type">Corpus</span>
        <span class="item-community label"><a class="pt-2" href="/community-list">Community</a></span>
      </div>
      <div class="pl-3">
        <div class="row">
          <div class="">
            <div>Item Name</div>
            <div>Authors:</div>
          </div>
          <div>
            IMAGE
          </div>
        </div>
        <div class="row">
          ARROW + show everyone
        </div>
        <div class="row">
          <div>Description</div>
          <div>Text</div>
        </div>
        <div class="row">
          <span>Icon</span>
          <span> This item contains 3 files (588.97 MB).</span>
        </div>
      </div>
      <div class="row justify-content-end">
        License in the right
      </div>
    </div>
  </div>

</div>
