<button id="secret-change-button" type="button" (click)="changeLicenseNameFromRef()" style="display: none">
</button>
<div class="container">
  <div class="well well-white">
    <div class="unstyled">
      <div id="aspect_submission_StepTransformer_item_head" class="form-group distribution_licnese_head">
        <span> {{'submission.sections.clarin-license.head.read-accept' | translate}} </span>
        <span class="">
          <a href="/repository/xmlui/page/contract" class="target_blank"
             target="_blank">{{'submission.sections.clarin-license.head.license-agreement' | translate}}</a>
        </span>
      </div>
      <div class="license-decision-checkbox">
        <ng-toggle class="btn-dark"
                   [onColor]="toggleAcceptation.onColor"
                   [onText]="toggleAcceptation.onText"
                   [offColor]="toggleAcceptation.offColor"
                   [offText]="toggleAcceptation.offText"
                   [size]="toggleAcceptation.size"
                   (valueChange)="sendRequest()"
                   [(ngModel)]="toggleAcceptation.value">
        </ng-toggle>
      </div>
      <span class="license-decision-message">{{ 'submission.sections.clarin-license.head.license-decision-message' | translate}}</span>
      <div class="well-sm alert">
        <span class="">{{'submission.sections.clarin-license.head.license-question-help-desk.0' | translate}}
          <a class="helpdesk-tolink" [href]="'mailto:'+(helpDesk$ | async)?.payload?.values[0]">
            {{'submission.sections.clarin-license.head.license-question-help-desk.1' | translate}}
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="well well-white">
    <span class="distribution_licnese_head">{{'submission.sections.clarin-license.head.license-select-resource' | translate}}</span>
    <div class="unstyled">
      <div id="aspect_submission_StepTransformer_item_" class="form-group alert alert-info">
        <div id="placeholder">
          <span>{{'submission.sections.clarin-license.head.license-select-providing.0' | translate}}</span>
          <span>
            <a href="/repository/xmlui/page/licenses" class="target_blank alert-link" target="_blank">
              {{'submission.sections.clarin-license.head.license-select-providing.1' | translate}}
            </a>
          </span>
          <span>{{'submission.sections.clarin-license.head.license-select-providing.2' | translate}}</span>
          <a id="button-holder" (click)="clickLicense()"
             class="btn btn-repository licenseselector bold btn-block btn-lg">
            <a>{{'submission.sections.clarin-license.head.license-open-selector' | translate}}</a>
          </a>
        </div>
      </div>
      <div class="form-group text-center">
        {{'submission.sections.clarin-license.head.license-select-or' | translate}}
      </div>
      <div class="form-group">
        <span class="license-resource-text">
          {{'submission.sections.clarin-license.head.license-dropdown-info' | translate}}
        </span>
      </div>
      <div class="form-group alert alert-danger alert-dismissible fade in" [hidden]="(licenseIsSupported | async)">
        {{'submission.sections.clarin-license.head.license-not-supported-message' | translate}}
      </div>
      <div class="form-group">
        <select #licenseSelection (change)="selectLicense(licenseSelection.value)" id="aspect_submission_StepTransformer_field_license"
                class="form-control" name="license" tabindex="-1" title="">
          <option value="" selected="selected">
            {{'submission.sections.clarin-license.head.license-select-default-value' | translate}}
          </option>
          <option *ngFor="let license of licenses4Selector" [value]="license.id">
            {{license.name}}
          </option>
        </select>
      </div>
      <div id="aspect_submission_StepTransformer_list_accordion_lic" class="accordion">
        <div id="aspect_submission_StepTransformer_list_accordion-group_lic_1"
             class="accordion-group hidden">
          <div class="accordion-heading">
            <a href="#aspect_submission_StepTransformer_list_accordion-body_lic_1"
               data-toggle="collapse"
               data-parent="#aspect_submission_StepTransformer_list_accordion_lic">
              <span class="bold">{{'submission.sections.clarin-license.head.license-more-details' | translate}}</span>
            </a>
          </div>
          <div id="aspect_submission_StepTransformer_list_accordion-body_lic_1"
               class="accordion-body collapse">
            <div class="accordion-inner">
              <ul id="aspect_submission_StepTransformer_list_license-list" class="">
                <li *ngFor="let license of licenses4Selector">
                  <a [name]="'license_'+license.id" target="" [href]="license.url">{{license.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="well-sm alert well-white">
      <div class="unstyled">
        <div id="aspect_submission_StepTransformer_item_x" class="form-group bold">
          {{'submission.sections.clarin-license.head.license-do-not-suits-needs' | translate}}
        </div>
        <div class="form-group">
          {{'submission.sections.clarin-license.head.license-not-offer-proceeds' | translate}}
        </div>
        <ul id="aspect_submission_StepTransformer_list_steps" class="ds-bulleted-list">
          <li>{{'submission.sections.clarin-license.head.license-not-offer-proceed-link' | translate}}</li>
          <li>{{'submission.sections.clarin-license.head.license-not-offer-proceed-email.0' | translate}}
            <a [href]="'mailto:'+(helpDesk$ | async)?.payload?.values[0]">
              {{'submission.sections.clarin-license.head.license-not-offer-proceed-email.1' | translate}}
            </a>
            {{'submission.sections.clarin-license.head.license-not-offer-proceed-email.2' | translate}}
          </li>
          <li>{{'submission.sections.clarin-license.head.license-not-offer-proceed-wait' | translate}}
          </li>
          <li>
            {{'submission.sections.clarin-license.head.license-not-offer-proceed-continue' | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
