:root {
  --ds-clarin-home-news-background-color: #{$white};
  --ds-clarin-alert-primary-background-color: #cce5ff;
  --ds-clarin-alert-primary-border-color: #b8daff;
  --ds-clarin-alert-primary-text-color: #004085;
}
