<ng-container *ngVar="(communitiesRD$ | async) as communitiesRD">
  <div *ngIf="communitiesRD?.hasSucceeded ">
    <div class="row" *ngVar="(communitiesRedirect | async) as communities">
      <div class="col-md-4 custom-col-md-4 jumbotron d-flex align-items-center justify-content-center"
           [ngStyle]="{'backgroundColor': community.bgColor}"
           *ngFor="let community of communities">
        <a [routerLink]="getCommunityPageRoute(community.uuid)"
           class="align-text-bottom text-decoration-none"
           [ngStyle]="{'color': community.textColor}">
          <div class="main-topics text-center">
            <h1>{{community.name | uppercase}}</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
  <ds-error *ngIf="communitiesRD?.hasFailed " message="{{'error.top-level-communites' | translate}}"></ds-error>
  <ds-themed-loading *ngIf="communitiesRD?.isLoading " message="{{'loading.top-level-communities' | translate}}"></ds-themed-loading></ng-container>

