<div class="row clarin-item-page-field justify-content-start" *ngIf="showMetadataValue | async">
  <div class="col-lg-3 col-2-5 d-flex align-self-start">
    <div><i [class]="'fas ' + iconName + ' fa-xs'"></i></div>
    <!-- Toggle Header -->
    <div
      class="pl-1 d-flex align-items-center"
      (click)="toggleVersionHistory()"
      (keydown.enter)="toggleVersionHistory()"
      role="button"
      tabindex="0"
      [attr.aria-expanded]="showVersionHistory"
      aria-controls="version-history-content"
      [attr.aria-label]="getToggleAriaLabel()">
      <b class="mr-1">{{ "item.version.history.head" | translate }}</b>
      <i class="fas" [ngClass]="showVersionHistory ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    </div>
  </div>

  <!-- Collapsible Content -->
  <div
    id="version-history-content"
    class="col-lg-9 collapse"
    [ngClass]="{'show': showVersionHistory}"
    [attr.aria-hidden]="!showVersionHistory">
    <div *ngIf="(versionsDTO$ | async) as versionsDTO">
      <div *ngIf="(versionRD$ | async)?.payload as itemVersion">
        <ul class="list-unstyled dropdown-versions">
          <li *ngFor="let versionDTO of versionsDTO.versionDTOs" [id]="'version-row-' + versionDTO.version.id">
            <!-- Get the ID of the workspace/workflow item (`undefined` if they don't exist).
            Using component methods to optimize performance and avoid repeated async evaluations. -->
            <ng-container
              *ngVar="getVersionWorkspaceId(versionDTO.version.item) as workspaceId$">
              <ng-container
                *ngVar="getVersionWorkflowId(versionDTO.version.item, workspaceId$) as workflowId$">
                  <span
                    *ngIf="(workspaceId$ | async) || (workflowId$ | async); then itemNameWithoutLink else itemNameWithLink"></span>
                  <ng-template #itemNameWithLink>
                    <ng-container *ngIf="(versionDTO.version.item | async)?.payload as versionItem">
                      <a [routerLink]="getVersionRoute(versionDTO.version.id)">
                        {{ getVersionItemDisplayName(versionItem) }}
                      </a>
                    </ng-container>
                  </ng-template>
                  <ng-template #itemNameWithoutLink>
                    <ng-container *ngIf="(versionDTO.version.item | async)?.payload as versionItem">
                      {{ getVersionItemDisplayName(versionItem) }}
                    </ng-container>
                  </ng-template>
                  <span *ngIf="versionDTO.version.id === itemVersion?.id">*</span>
              </ng-container>
            </ng-container>
          </li>
        </ul>
        <div>*&nbsp;{{ "item.version.history.selected" | translate }}</div>
      </div>
    </div>
  </div>
</div>
