<footer>
  @if (showTopFooter) {
    <div class="top-footer">
      <!-- Grid container -->
      <div class=" container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="">Lorem ipsum</a>
              </li>
              <li>
                <a routerLink="./" class="">Ut facilisis</a>
              </li>
              <li>
                <a routerLink="./" class="">Aenean sit</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <ul class="list-unstyled mb-0">
              <li>
                <a routerLink="./" class="" role="link" tabindex="0">Suspendisse potenti</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase">Footer Content</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              voluptatem veniam, est atque cumque eum delectus sint!
            </p>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
    </div>
  }
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="bottom-footer p-3">
    <div class="container-fluid">
      <div class="row align-items-center text-white">
        <!-- Left Column - Logos -->
        <div class="col-md-2 mb-3 mb-md-0">
          <div class="d-flex flex-wrap justify-content-center align-items-center gap-3">
            <a href="https://explore.openaire.eu/" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
              <img src="assets/images/openaire-logo.svg" alt="OpenAIRE" class="footer-logo">
            </a>
            <a href="https://www.base-search.net/" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">
              <img src="assets/images/base-logo.svg" alt="BASE" class="footer-logo">
            </a>
          </div>
        </div>

        <!-- Center Column - Main Content -->
        <div class="col-md-8 text-center mb-3 mb-md-0">
          <p class="m-0">
            <a class="btn text-white"
               href="http://www.dspace.org/" role="link" tabindex="0">{{ 'footer.link.dspace' | translate}}</a>
            {{ 'footer.copyright' | translate:{year: dateObj | date:'y'} }}
            <a class="btn text-white"
               href="https://www.lyrasis.org/" role="link" tabindex="0">{{ 'footer.link.lyrasis' | translate}}</a>
          </p>
          <ul class="footer-info list-unstyled d-flex justify-content-center flex-wrap mb-0">
            <li>
              <a class="btn text-white" routerLink="/contact">{{ 'footer.link.contact-us' | translate}}</a>
            </li>
            @if (showCookieSettings) {
              <li>
                <button class="btn btn-link text-white" type="button" (click)="openCookieSettings()" role="button" tabindex="0">
                  {{ 'footer.link.cookies' | translate}}
                </button>
              </li>
            }
            <li>
              <a class="btn text-white"
                 routerLink="info/accessibility" role="link" tabindex="0">{{ 'footer.link.accessibility' | translate }}</a>
            </li>
            @if (showPrivacyPolicy) {
              <li>
                <a class="btn text-white"
                   routerLink="info/privacy" role="link" tabindex="0">{{ 'footer.link.privacy-policy' | translate}}</a>
              </li>
            }
            <li>
              <a class="btn text-white" href="https://osc.mendelu.cz/36299-repozitar" target="_blank" rel="noopener noreferrer" role="link" tabindex="0">{{ 'footer.link.open-science-centre' | translate}}</a>
            </li>
          </ul>
        </div>

        @if (coarLdnEnabled$ | async) {
          <div class="notify-enabled text-white align-self-end">
            <a class="coar-notify-support-route" routerLink="info/coar-notify-support" role="link" tabindex="0">
              <img class="n-coar" src="assets/images/n-coar.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              {{ 'footer.link.coar-notify-support' | translate }}
            </a>
          </div>
        }

        <!-- Right Column - Theme Sign -->
        <div class="col-md-2 text-center">
          <div class="footer-sign">
            <p class="theme-by mb-1">{{ 'footer.theme.by.message' | translate }}</p>
            <a class="dtq-sign text-white" *ngVar="(themedByCompanyName$ | async)?.payload?.values[0] as companyName"
               [href]="(themedByUrl$ | async)?.payload?.values[0]"
               [title]="companyName">
              {{ companyName }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
