
.clarin-ref-box-footer {
  background-color: #D8EDF6;
  border: 1px solid #bbe8ef;
  color: #3388AA;
  border-radius: 0 0 6px 6px;
  width: 100%;
}

.clarin-ref-box-footer-body {
  width: 100%;
  font-weight: bold;
  font-size: 15px;
}

.clarin-ref-box-footer-icon {
  font-size: 1.6em;
}

.clarin-share-buttons {
  font-size: 2em;
  cursor: pointer;
}

.clarin-share-facebook {
  color: #395a93;
}

.clarin-share-twitter {
  color: #00AEE8;
}
