@media screen and (min-width: map-get($grid-breakpoints, md)) {
    dt {
        text-align: right;
    }

    .file-section--no-thumbnail {
        dt {
            text-align: left;
            flex: 0 0 5.5rem;
            max-width: 5.5rem;
        }

        dd {
            flex: 0 0 calc(100% - 5.5rem);
            max-width: calc(100% - 5.5rem);
        }
    }
}
