// Pepi Hair
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Hair.otf") format("opentype");
  font-weight: 50;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Hair Italic.otf") format("opentype");
  font-weight: 50;
  font-style: italic;
  font-display: swap;
}

// Pepi Thin
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Thin Italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

// Pepi Light
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

// Pepi Regular
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// Pepi Medium
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

// Pepi Semibold
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Semibold Italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// Pepi Bold
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// Pepi Heavy
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Heavy Italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

// Pepi Black
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Black Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

// Pepi Ultra
@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Ultra.otf") format("opentype");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Pepi";
  src: url("/assets/fonts/Pepi Ultra Italic.otf") format("opentype");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}
