.form-login *{
  font-size: 0.85rem;
}
.form-login .btn{
  background-color: var(--lt-tul-purple) !important;
}
.form-login .btn:hover{
  box-shadow: 0 0 0 0.2rem var(--lt-tul-purple);
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

