:host {
  div.background-image-container {
    color: white;
    position: relative;
    background-color: var(--lt-zcu-pub-blue);
  }

  img {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .jumbotron {
    background-color: transparent;
  }
}
