nav {
  background-color: var(--lt-vsb-tuo-cyan);
}

nav.navbar {
  align-items: baseline;
}

.navbar-nav {
  background-color: var(--lt-vsb-tuo-cyan);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: var(--ds-nav-z-index);
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      background-color: var(--lt-vsb-tuo-cyan);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand img {
  max-height: var(--ds-header-logo-height);
}

.navbar-nav {
  ::ng-deep a.ds-menu-item {
    width: 100%;
    padding: .5rem 1rem;
    color: white;
    text-decoration: none;

    &:hover, &:focus {
      background-color: white;
      color: var(--lt-vsb-tuo-cyan);
      border-radius: 2px;
      transition: background-color 0.2s ease-out;
    }
  }
}
