<div class="home-news-content mt-ncs">
  <div class="container">
    <div class="py-4 px-2 py-sm-5 px-sm-0 mt-0 mb-4">
      <div class="d-flex flex-wrap">
        <div>
          <h2>{{ 'home.news.title' | translate }}</h2>
          <p>
            {{ 'home.news.welcome' | translate }}
          </p>
          <p [innerHTML]="'home.news.about-link' | translate"></p>
          @if (emailToContact$ | async; as email) {
            <p [innerHTML]="'home.news.upload-info' | translate : { email: email }"></p>
          }
        </div>
      </div>
    </div>
  </div>
</div>
