.bg-clarin-yellow {
  background-color: var(--lt-clarin-yellow-bg);
  border-color: var(--lt-clarin-yellow-border);
}

.bg-clarin-red {
  background-color: var(--lt-clarin-red-bg);
  border-color: var(--lt-clarin-red-border);
  color: var(--lt-clarin-red-text);
}

.max-width {
  width: 100%;
}
