<div class="container">
  <h2>{{'version-info.page.title' | translate}}</h2>
  <div>
    <div>{{'version-info.page.date' | translate}}</div>
    <span class="version-info-value">{{(versioninfo | async)?.date}}</span>
  </div>
  <div class="pt-2">
    <div>{{'version-info.page.build-run' | translate}}</div>
    <span class="version-info-value">{{(versioninfo | async)?.buildRunUrl}}</span>
  </div>
  <div class="pt-2">
    <div>{{'version-info.page.hash' | translate}}</div>
    <span class="version-info-value">{{(versioninfo | async)?.commitHash}}</span>
  </div>
</div>
