<ng-container *ngIf="showAccessStatus">
  <ng-container *ngIf="accessStatus$ | async as accessStatus">
    <span *ngIf="embargoDate$ | async as embargoDate; else noEmbargoDate"
          [class]="'badge badge-secondary access-status-list-element-badge ' + accessStatusClass">{{ accessStatus | translate: { date: embargoDate } }}</span>
    <ng-template #noEmbargoDate>
      <span [class]="'badge badge-secondary access-status-list-element-badge ' + accessStatusClass">{{ accessStatus | translate }}</span>
    </ng-template>
  </ng-container>
</ng-container>
