<div class="modal-header">
  @if (!isEditMode) {
    <h4 class="modal-title">{{'clarin.license.label.create.title' | translate}}</h4>
  }
  @if (isEditMode) {
    <h4 class="modal-title">{{'clarin.license.label.edit.title' | translate}}</h4>
  }
  <button type="button" class="btn btn-danger" (click)="activeModal.dismiss('Cross click')" [attr.aria-label]="'clarin.license.label.modal.close' | translate">
    <span class="fas fa-times" aria-hidden="true"></span>
  </button>
</div>
<form [formGroup]="clarinLicenseLabelForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="mb-3 mt-4">
        <label for="label">{{'clarin-license-label.define-license-label.input-label' | translate | dsAddChar: '*'}}</label>
        <input id="label" type="text" class="form-control" formControlName="label"/>
      </div>
      <div class="mb-3 mt-4">
        <label for="title">{{'clarin-license-label.define-license-label.input-title' | translate | dsAddChar: '*'}}</label>
        <input id="title" type="text" class="form-control" formControlName="title"/>
      </div>
      <div class="mb-3 mt-4">
        <label for="extended">{{'clarin-license-label.define-license-label.input-is-extended' | translate}}</label>
        <select id="extended" formControlName="extended" class="form-select">
          @for (isExtendedOption of extendedOptions; track isExtendedOption) {
            <option [ngValue]="isExtendedOption.value">
              {{isExtendedOption.translationKey | translate}}
            </option>
          }
        </select>
      </div>
      <div class="mb-3 mt-4">
        <label for="icon">{{'clarin-license-label.define-license-label.input-icon' | translate}}</label>
        @if (isEditMode) {
          <small class="form-text text-muted mb-1">{{'clarin.license.label.edit.icon.note' | translate}}</small>
        }
        @if (isEditMode && hasIcon) {
          <div class="mb-2">
            <span class="d-block text-muted small mb-1">{{'clarin.license.label.edit.icon.preview' | translate}}</span>
            <img [src]="currentIconUrl" class="border rounded" style="max-height: 48px; max-width: 120px;"
              [attr.alt]="('clarin.license.label.edit.icon.preview' | translate)"/>
          </div>
        }
        <input id="icon" type="file" class="form-control" formControlName="icon"/>
        @if (isEditMode && hasIcon) {
          <div class="form-check mt-2">
            <input id="clearIcon" type="checkbox" class="form-check-input" formControlName="clearIcon"/>
            <label class="form-check-label" for="clearIcon">{{'clarin.license.label.edit.icon.clear' | translate}}</label>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
      [dsBtnDisabled]="!clarinLicenseLabelForm.valid">
      @if (!isEditMode) {
        <span>{{'clarin.license.label.create.submit' | translate}}</span>
      }
      @if (isEditMode) {
        <span>{{'clarin.license.label.edit.submit' | translate}}</span>
      }
    </button>
  </div>
</form>
