<div class="container" *ngVar="(selectedLicense | async) as selectedLicense">
  <div class="row">
    <h2>{{'item.edit.license.title' | translate}}</h2>
  </div>
  <div class="row" [hidden]="selectedLicense?.name == undefined">
    <div class="col-md-12 pl-0">
      <div class="card license-name-card">
        <div class="card-body py-3 px-3">
          <span class="py-1 px-2 license-name-chip rounded">
            <a [href]="selectedLicense?.definition">{{selectedLicense?.name}}</a>
          </span>
          <span>
            <button (click)="removeLicense()" class="ml-2">Remove license</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-12 pl-0">
      <div class="card">
        <div class="card-body py-3 px-3">
          <div class="col-md-12">
            Select License
          </div>
          <div class="col-md-12">
            <select
              #select
              [(ngModel)]="selectedLicenseName"
              class="form-control"
              [ngModelOptions]="{standalone: true}">
              <option *ngFor="let clarinLicense of (licenseOptions |async)"
                      [value]="clarinLicense.name">
                {{clarinLicense.name}}
              </option>
            </select>
          </div>
          <div class="col-md-12">
            Warning
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="py-2">
      <a (click)="openDefineLicenseForm()" class="text-info cursor">Define new License</a>
    </div>
  </div>
  <div class="row">
    <div>
      <button (click)="updateLicense()">Update</button>
    </div>
    <div class="ml-2">
      <button (click)="removeChanges()">Return</button>
    </div>
  </div>

</div>
