//@import '../../../../themes/dspace/styles/global-styles';

.license-name-card {
  background-color: var(--ds-clarin-alert-primary-background-color);
  border-color: var(--ds-clarin-alert-primary-border-color);
  color: var(--ds-clarin-alert-primary-text-color);
}

.license-name-chip {
  background-color: #85C2DD;
  color: white;
}

.license-name-chip a {
  color: white;
}

.cursor {
  cursor: pointer;
}
//
