<a [routerLink]="(bitstreamPath$| async)?.routerLink" class="dont-break-out"
   [queryParams]="(bitstreamPath$| async)?.queryParams"
   [target]="isBlank ? '_blank': '_self'"
   [ngClass]="cssClasses"
   [attr.aria-label]="getDownloadLinkAriaLabel((canDownload$ | async), ('file-download-link.download' | translate), ('file-download-link.restricted' | translate))"
   role="link"
   tabindex="0">
  <span *ngIf="!(canDownload$ | async)" class="pr-1"><i class="fas fa-lock" aria-hidden="true"></i></span>
  <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
<ds-themed-access-status-badge [object]="bitstream"></ds-themed-access-status-badge>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
