<div class="container">
  <!-- The table with pagination -->
  <div *ngVar="(cLicenseRD$ | async)?.payload as cLicenses">
    <div class="mb-2">
      <ds-pagination (paginationChange)="onPageChange()"
                     [hideGear]="true"
                     [hidePagerWhenSinglePage]="true"
                     [paginationOptions]="options"
                     [pageInfoState]="cLicenses?.pageInfo"
                     [collectionSize]="cLicenses?.totalElements"
                     [retainScrollPosition]="true">
        <table class="table table-striped table-bordered align-middle my-2">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{"clarin-license.table.name" | translate}}</th>
            <th scope="col">{{"clarin-license.table.definition" | translate}}</th>
            <th scope="col">{{"clarin-license.table.confirmation" | translate}}</th>
            <th scope="col">{{"clarin-license.table.required-user-info" | translate}}</th>
            <th scope="col">{{"clarin-license.table.label" | translate}}</th>
            <th scope="col">{{"clarin-license.table.extended-labels" | translate}}</th>
            <th scope="col">{{"clarin-license.table.bitstreams" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cLicense of cLicenses?.page" [id]="'clarin-license-row-' + cLicense.id">
            <td><input class="collection-checkbox" [ngModel]="selectedHandle === cLicense.id" (change)="switchSelectedHandle(cLicense.id)" type="checkbox" name="{{cLicense.id}}"></td>
            <td class="version-row-element-version">
              {{cLicense?.name}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.definition}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.confirmation}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.requiredUserInfo}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.clarinLicenseLabel}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.extendedClarinLicenseLabels}}
            </td>
            <td class="version-row-element-version">
              {{cLicense?.bitstreams}}
            </td>
          </tr>
          </tbody>
        </table>
        <ds-loading *ngIf="isLoading" class="text-center"></ds-loading>
      </ds-pagination>
<!--      <div class="mt-2">-->
<!--        <button type="button" class="btn btn-success"-->
<!--                (click)="redirectWithCurrentPage()">-->
<!--          {{'handle-table.button.new-handle' | translate}}-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-warning"-->
<!--                (click)="redirectWithHandleParams()"-->
<!--                [disabled]="selectedHandle === null">-->
<!--          {{'handle-table.button.edit-handle' | translate}}-->
<!--        </button>-->
<!--        <button type="button" class="btn btn-danger"-->
<!--                (click)="deleteHandles()"-->
<!--                [disabled]="selectedHandle === null">-->
<!--          {{'handle-table.button.delete-handle' | translate}}-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
</div>
