<div class="row clarin-item-page-field">
  <div class="col-md-2 d-flex">
    <div><i [class]="'fas ' + iconName + ' fa-xs'"></i></div>
    <div class="ps-1"><b>{{'item.page.files' | translate}}</b></div>
  </div>
  <div class="col-md-10">
    <div class="file-section" *ngVar="(bitstreams$ | async) as bitstreams">
      @for (file of bitstreams; track file; let last = $last) {
        <ds-file-download-link [bitstream]="file" [item]="item">
          <span>{{file?.name}}</span>
          <span>({{(file?.sizeBytes) | dsFileSize }})</span>
          @if (!last) {
            <span innerHTML="{{separator}}"></span>
          }
        </ds-file-download-link>
      }
      @if (isLoading) {
        <ds-loading message="{{'loading.default' | translate}}" [showMessage]="false"></ds-loading>
      }
      @if (!isLastPage) {
        <div class="mt-1" id="view-more">
          <a class="bitstream-view-more btn btn-outline-secondary btn-sm" [routerLink]="" (click)="getNextPage()">{{'item.page.bitstreams.view-more' | translate}}</a>
        </div>
      }
      @if (isLastPage && currentPage !== 1) {
        <div class="mt-1" id="collapse">
          <a class="bitstream-collapse btn btn-outline-secondary btn-sm" [routerLink]="" (click)="currentPage = undefined; getNextPage();">{{'item.page.bitstreams.collapse' | translate}}</a>
        </div>
      }
    </div>
  </div>
</div>
