@font-face {
  font-family: 'TUL Mono';
  src: url('/assets/fonts/TULMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

nav.navbar {
  background: var(--lt-tul-purple);
  font-size: 0.85rem;
  font-family: 'TUL Mono', sans-serif;
  border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  //border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid;
  align-items: baseline;
  color: var(--ds-header-icon-color);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100%;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .reset-padding-md {
    margin-left: calc(var(--bs-spacer) / -2);
    margin-right: calc(var(--bs-spacer) / -2);
  }
}

/* TODO remove when https://github.com/twbs/bootstrap/issues/24726 is fixed */
.navbar-expand-md.navbar-container {
  @media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
    > .navbar-inner-container {
      padding: 0 var(--bs-spacer);
      a.navbar-brand {
        display: none;
      }
      .navbar-collapsed {
        display: none;
      }
    }
    padding: 0;
  }
  height: 80px;
}

a.navbar-brand img {
  width: 7rem;
  display: block;
  max-height: var(--ds-header-logo-height);
}


a.navbar-brand:hover {
  background: var(--ds-header-bg-color-hover);
}

.navbar-nav {
  font-size: 0.85rem;
  ::ng-deep a.nav-link {
    color: var(--ds-navbar-link-color);
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
  }
  ::ng-deep a.nav-link:hover {
    color: #d4d5d6 !important;
    background: var(--ds-header-bg-color-hover);
  }
}
