nav.navbar {
  align-items: baseline;
  .navbar-inner-container {
    border-top: 1px var(--ds-header-navbar-border-top-color) solid;
  }
}

.navbar-nav {
  background-color: var(--ds-navbar-bg);
}

/** Mobile menu styling **/
@media screen and (max-width: map-get($grid-breakpoints, md)-0.02) {
  .navbar {
    width: 100vw;
    background-color: var(--bs-white);
    position: absolute;
    overflow: hidden;
    height: 0;
    z-index: var(--ds-nav-z-index);
    &.open {
      height: 100vh; //doesn't matter because wrapper is sticky
      border-bottom: 5px var(--ds-header-navbar-border-bottom-color) solid; // open navbar covers header-navbar-wrapper border
    }
  }
}
