# DSpace Docker image build for hub.docker.com
name: Docker images

# Run this Build for all pushes to 'main' or maintenance branches, or tagged releases.
# Also run for PRs to ensure PR doesn't break Docker build process
# NOTE: uses "reusable-docker-build.yml" in DSpace/DSpace to actually build each of the Docker images
# https://github.com/DSpace/DSpace/blob/main/.github/workflows/reusable-docker-build.yml
#
on:
  push:
    branches:
      - dtq-dev
      - customer/*
  pull_request:
  workflow_dispatch:

permissions:
  contents: read  #  to fetch code (actions/checkout)


env:
  # Define tags to use for Docker images based on Git tags/branches (for docker/metadata-action)
  # For a new commit on default branch (main), use the literal tag 'latest' on Docker image.
  # For a new commit on other branches, use the branch name as the tag for Docker image.
  # For a new tag, copy that tag name as the tag for Docker image.
  IMAGE_TAGS: |
    type=raw,value=latest,enable=${{ endsWith(github.ref, github.event.repository.default_branch) }}
    type=ref,event=branch,enable=${{ !endsWith(github.ref, github.event.repository.default_branch) }}
    type=ref,event=tag
  # Define default tag "flavor" for docker/metadata-action per
  # https://github.com/docker/metadata-action#flavor-input
  # We manage the 'latest' tag ourselves to the 'main' branch (see settings above)
  TAGS_FLAVOR: |
    latest=false
  # Architectures / Platforms for which we will build Docker images
  # If this is a PR, we ONLY build for AMD64. For PRs we only do a sanity check test to ensure Docker builds work.
  # If this is NOT a PR (e.g. a tag or merge commit), also build for ARM64.
  PLATFORMS: linux/amd64${{ github.event_name != 'pull_request' && ', linux/arm64' || '' }}


jobs:
  dspace-angular:
    # Ensure this job never runs on forked repos. It's only executed for 'dspace/dspace-angular'
    if: github.repository == 'dataquest-dev/dspace-angular'
    uses: dataquest-dev/DSpace/.github/workflows/reusable-docker-build.yml@dtq-dev
    with:
      build_id: dspace-angular
      image_name: dataquest/dspace-angular
      dockerfile_path: ./Dockerfile
      run_python_version_script: true
      python_version_script_dest: src/static-files/VERSION_D.html
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}

  #############################################################
  # Build/Push the 'dataquest/dspace-angular' image ('-dist' tag)
  #############################################################
  dspace-angular-dist:
    # Ensure this job never runs on forked repos. It's only executed for 'dataquest/dspace-angular'
    if: github.repository == 'dataquest-dev/dspace-angular' && false # not used for now
    uses: dataquest-dev/DSpace/.github/workflows/reusable-docker-build.yml@dtq-dev
    with:
      build_id: dspace-angular-dist
      image_name: dspace/dspace-angular
      dockerfile_path: ./Dockerfile.dist
      # As this is a "dist" image, its tags are all suffixed with "-dist". Otherwise, it uses the same
      # tagging logic as the primary 'dspace/dspace-angular' image above.
      tags_flavor: suffix=-dist
      run_python_version_script: true
      python_version_script_dest: src/static-files/VERSION_D.html
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_ACCESS_TOKEN: ${{ secrets.DOCKER_ACCESS_TOKEN }}

  deploy:
    needs: dspace-angular
    uses: dataquest-dev/dspace-angular/.github/workflows/deploy.yml@dtq-dev
    if: ${{ github.event_name != 'pull_request' }}
    with:
      INSTANCE: '5'
      IMPORT: false
    secrets: inherit
